
.main-content {
    margin-left: 280px;

    @media (max-width: 1240px) {
        margin-left: 80px;
    }
}
.dashboard-content {
    padding: 60px;
    color: #82858C;
    font-size: 15px!important;

     @media (max-width: 800px) {
        padding: 20px;
    }

    .heading {
        h1 {
            color: #6733CC;
        }
    }

    .card {
        padding: 40px;
        text-align: center;
        min-height: 428px;

        .name {
            color: #6733CC;
            font-weight: bold;
            font-size: 19px;
        }

        img {
            width: 150px;
            border-radius: 50%;
        }

        .previous {
            display: flex;
            justify-content: space-between;

            strong {
                padding-left: 5px;
            }
        }

        .card-heading.doted {
            display: flex;
            padding-bottom: 1.5rem;
            justify-content: space-between;

            p {
                margin-top: 3px;
            }
        }

        .card-content {
            text-align: left;

            p {
                margin-bottom: 4px;
            }

            .data {
                padding-bottom: 2rem;
            }

            .travel-description {
                padding-bottom: 2.8rem;
            }

            .personal-description {
                display: flex;
                
                .rounded-icon {
                    width: 15%;

                    span {
                        margin-right: 14px;
                        height: 22px;
                        display: block;
                        width: 22px;
                        text-align: center;
                        font-size: 12px;
                        line-height: 24px;
                        color: white;
                        background-color: orange;
                        border-radius: 50%;
                    }

                    &.green {
                        background-color: #617EFF;
                    }
                }

                .travelt {
                    width: 85%;
                } 
            }
        }
    }

}